:root {
  font-family: monospace;
}

* {
  scrollbar-color: #444 transparent;
  scrollbar-width: thin;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #111;
  color: white;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
  }
}

#axes {
  position: relative;
  border: 1px solid #444;
  width: 480px;
  height: 480px;
  margin: 10px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vw - 20px);
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    max-width: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
  }

  #axes-center {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border: 1px solid #444;
    border-radius: 50%;
    box-sizing: border-box;
  }

  #axes-indicator {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
  }
}

#buttons {
  border-collapse: separate;
  border-spacing: 8px 5px;

  tr:nth-child(n+14) {
    color: #999;
  }

  td.separator {
    border-bottom: 1px solid #333;
    height: 5px
  }

  td:first-child:not(:last-child) {
    border: 1px solid #444;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}